#smileRow .btn {
	height: 40px;
}
.panel {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}
@media only screen and (max-width: 500px) {
.panel {
	width: 90%;
	
    }
}
.btn {
	display: inline-block;
	margin-bottom: 3px;
}
.col-xs-3, .col-xs-12 {
	padding: 4px;
}
.container-fluid {
	margin: 0 8px;
}